.progress-circle {
    font-size: 20px;
    margin: 20px;
    position: relative;
    padding: 0;
    width: 5em;
    height: 5em;
    background-color: #F2E9E1;
    border-radius: 50%;
    line-height: 5em;

    &:after {
        border: none;
        position: absolute;
        top: 0.35em;
        left: 0.35em;
        text-align: center;
        display: block;
        border-radius: 50%;
        width: 4.3em;
        height: 4.3em;
        background-color: $BACKGROUND-COLOR;
        content: " ";

        @media(prefers-color-scheme: dark) {
            background-color: $BACKGROUND-COLOR-DARK;
        }
    }

    span {
        position: absolute;
        line-height: 5em;
        width: 5em;
        text-align: center;
        display: block;
        color: $TEXT-COLOR;
        z-index: 2;

        @media(prefers-color-scheme: dark) {
            color: $TEXT-COLOR-DARK;
        }
    }

    &.over50 {
        .left-half-clipper {
            clip: rect(auto, auto, auto, auto);
        }

        .first50-bar {
            position: absolute;
            clip: rect(0, 5em, 5em, 2.5em);
            background-color: #53777A;
            border-radius: 50%;
            width: 5em;
            height: 5em;
        }
    }
    
    &:not(.over50) .first50-bar {
        display: none;
    }
      
    &.p0 .value-bar {
        display: none;
    }

    @for $i from 1 through 100 {
        &.p#{$i} .value-bar {
            transform: rotate(round(360 * $i / 100) + deg);
        }
    }
}

.left-half-clipper {
    border-radius: 50%;
    width: 5em;
    height: 5em;
    position: absolute;
    clip: rect(0, 5em, 5em, 2.5em);
}

.value-bar {
    position: absolute;
    clip: rect(0, 2.5em, 5em, 0);
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 0.45em solid #53777A;
    box-sizing: border-box;
}