@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import 'variables';
@import 'menu';
@import 'firmware';

body {
    color: $TEXT-COLOR;
    background-color: $BACKGROUND-COLOR;
}

.content {
    width: 100%;
    max-width: 1600px;
}

table {
    border-collapse: unset;
}

.table > :not(caption) > * > * {
    padding: 0;
    border-bottom-width: 0;
}

.sound-card,
.backup-card,
.disp-card {
    min-width: 300px;
}

.send-col {
    min-width: 150px;
}

.vol {
    height: 70%;
}

.mac {
    height: 54%;
}

.play {
    transform: scale(1, 2);
    margin: -1px -2px 0 0;
}

.range-a a{
    text-decoration: none;
    color: $TEXT-COLOR;

    svg {
        width: 16px;
        fill: $TEXT-COLOR;

        @media(prefers-color-scheme: dark) {
            fill: $TEXT-COLOR-DARK;
        }
    }

    @media(prefers-color-scheme: dark) {
        color: $TEXT-COLOR-DARK;
    }
}

.range-val {
    min-width: 3.5rem;
}

.range-limit {
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
        height: 8px;
        background-color: #999;
        margin: 2px 0 0 0;
        border-radius: 5px;
    }
}

.disp-card .range-val {
    min-width: 2rem;
}

.form-range {
    margin-top: 2px;
}

.rename-field{
    height: 1.5rem;
    text-align: center;
    margin-right: 8px;
}

.rename-btn {
    height: 1.5rem;
    padding: 0 5px;
    margin: 0 7px;
}

.indication {
    color: $INDICATION-COLOR !important;
    font-weight: 600;
}

@media(prefers-color-scheme: dark) {
    body,
    .table,
    .modal-content,
    .accordion-item {
        color: $TEXT-COLOR-DARK;
        background-color: $BACKGROUND-COLOR-DARK;
    }

    .accordion-button {
        color: $TEXT-COLOR-DARK;
        background-color: $MENU-COLOR-DARK;

        &:not(.collapsed) {
            color: $TEXT-COLOR-DARK;
            background-color: $MENU-COLOR;
        }
    }

    .indication {
        color: $INDICATION-COLOR-DARK !important;
        font-weight: 400;
    }

    .form-control,
    .form-select,
    .sensor-corr,
    .time-control {
        background-color: $TEXT-COLOR;
        color: $TEXT-COLOR-DARK;

        &:focus {
            background-color: $BACKGROUND-COLOR-DARK;
            color: $TEXT-COLOR-DARK;
        }
    }
}

.tile {
    min-width: 240px;
}

.account {
    max-width: 500px;
}

.firmware {
    max-width: 600px;
}

.state {
    min-width: 500px;

    @media only screen and (max-width: 991px) {
        min-width: 280px;
    }
}

.sensor-corr {
    width: 75px;
}

.net-svg {
    fill: $TEXT-COLOR;

    @media(prefers-color-scheme: dark) {
        fill: $TEXT-COLOR-DARK;
    } 
}

.hoverable {
    cursor: pointer;

    &.active,
    &:hover {
        background-color: $TEXT-COLOR-DARK;

        @media(prefers-color-scheme: dark) {
            background-color: $TEXT-COLOR;
        }
    }
}

.net-list {
    cursor: pointer;

    &:hover {
        background-color: $light;
        
        @media(prefers-color-scheme: dark) {
            background-color: $MENU-COLOR-DARK;
        } 
    }
}

.modal-body div {
    overflow: hidden;
    text-overflow: ellipsis;
}

.check-lg {
    width: 50px !important;
    height: 25px;
}

.configCode {
    height: 300px;
    overflow: auto;
}

.arrow-wind {
    fill: $TEXT-COLOR;
    stroke: $TEXT-COLOR;
    
    @media(prefers-color-scheme: dark) {
        fill: $INDICATION-COLOR-DARK;
        stroke: $INDICATION-COLOR-DARK;
    }
}

.arrow-pic {
    width: 0.8rem;
}

.flag {
    width: $FLAG-WIDTH;

    @media(max-width: $MOBILE) {
        width: $FLAG-WIDTH-MOBILE;
    }
}

input[type="time"] {
    width: 100px;
}