$BACKGROUND-COLOR: #F5F5F5; //sheet's color
$BACKGROUND-COLOR-DARK: #333; //sheet's color dark
$TEXT-COLOR: #222; //text color
$TEXT-COLOR-DARK: #EEE; // text color dark
$MENU-COLOR: #008CBA; //menu color
$MENU-COLOR-DARK: #005C9A; //menu color dark
$INDICATION-COLOR: #077; // indication color
$INDICATION-COLOR-DARK: #5FF; // indication color dark

$MOBILE: 990px; // min width for mobile

$MENU-ICON-WIDTH: 52px; // menu icon width
$MENU-ICON-WIDTH-MOBILE: 32px; // menu icon width for mobile
$FLAG-WIDTH: 32px; // country flag width
$FLAG-WIDTH-MOBILE: 32px; // country flag width for mobile