@charset "UTF-8";

.sen{
  display: flex;
  justify-content: center;
}

.sen input{
  width: 70px;
}

.sen td:first-child{
  text-align: right;
}

.sen td:last-child{
  text-align: center;
}

.data{
  font-weight: bold;
  color: #00F;
}

#wbat_c{
  width: 250px;
}

.tab{
  width: 100%;
  display: flex;
  justify-content: center;
}

#wexpire,
#chnum{
  width: 70px;
}

.kurz{
  width: 70%;
  margin: auto;
}
