@charset "UTF-8";

.lt,
.rt{
  display:inline-block
}

.lt{
  width:50%;
  text-align:right;
  font-weight:bold
}

.rt{
  font-style:italic
}

.hh{
  text-align:center
}

.kurz{
  width: 70%;
  margin: auto;
}

.canv{
  width: 100%;
  display: flex;
  justify-content: center;
}
